.venv/
.git/
.pytest_cache/
.mypy_cache/
__pycache__/
*.pyc
*.pyo
.idea/
.vscode/
*.md
!README.md

data/raw/*.json
data/processed/*.json
data/images/**/*

deploy/Dockerfile*
deploy/docker-compose*.yml
.dockerignore
src/
